
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}
.card-container{
    width:  300px;
    height: 302px ;
    grid-template-rows: auto auto;
    display: grid;
 

}


.imagen-1{
    background-color: #ffffff;
    
   
}
.contenido-boto{
    background-color: #f8bebe;
    text-align: center;
    border-radius: 0px 0px 10px 10px ;

}

.imagen-1{
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.imagen-1c{
    width: 300px ;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    z-index: 1;


}

.Tipo-de-letra{
    color: #272727;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 751;
line-height: normal;


}
.icono-admi{
    width: 69px;
    height: 64px;
    flex-shrink: 4;
    fill: #D9EDBF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));   

}

.usuario-1{
    width: 40px;
    height: 39px;
    flex-shrink: 0;

}




.Container-card-imagen{
   
    z-index: 0;
    grid-template-columns: 315px 315px  315px 315px  ;
    grid-template-rows: auto   ;
   
    padding-left: 4%;

    display: grid;
    
  background-color: #FFB996;
    



}
.Container-card-imagen > div{
    
    padding-top: 15%;
    padding-bottom: 70%;

    height: 100%;
    
     
}










.jumping-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    color: #AA1870;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-shadow: 1px 1px 1px #FFB996;
    animation: jump 2s ease-in-out infinite;
  }
  

  @keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-20px);
    }
  
    60% {
      transform: translateY(-10px);
    }
  }

.Modal-1{   
    padding-top: 90px;
}

.texto2{
   
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 469;
    line-height: normal;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.modal1{
    background-color: rgba(189, 189, 189, 1);
    width: 100%;
    height:526px;
    grid-template-rows: auto auto;
    display: grid;
}

.icono1{
    display: flex;
    justify-content: center;
    align-items: center;
    animation:icono 2s ease-in-out infinite;
}

@keyframes icono {
    0% {
        padding-top: 0px;
    }
    50% {
    }
    100% {
        padding-top: 30px;
    }
}

.boton{
    width: 106px;
    height: 100px;
    flex-shrink: 0;
    
}

.Inicio{
    color: #272727;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 751;
    line-height: normal;
    text-decoration-line: underline;


}

.Titulo{
   
    flex-shrink: 0;
    color: #FDFFAB;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size:15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;
}

.Container-header{
    display: grid;
    grid-template-columns: auto  auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

}

.contenedor-titulo{
    padding-left: 10px;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

header {
    background-color: #FFB996;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.iconos-header{
    width: 53px;
    height: 51px;
    flex-shrink: 0;

}

.logo {
    font-size: 1.5em;
}

.Logo1{
    width: 53px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 44px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;


}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:15px;
    margin: 0 4px;
    padding-right: 30px;
}

.mobile-nav {
    display: none;
    position: relative;
    z-index: 2;
}


@media only screen and (min-width4: 425px ) {
 
    .modal1{

        background-color: rgba(189, 189, 189, 1);
        height: 600px;
        width: 100%;
        
        grid-template-rows: 60% 5%;
        background-image: url('./Img/WhatsApp\ Image\ 2024-01-20\ at\ 12.49.38\ AM.jpeg');
        display: grid;
    }




   


}

@media only screen and (max-width: 600px) {
    .cards-container{

        grid-template-rows: auto auto auto auto auto auto;

        display:grid ;
    
    }

        .cards-container>  div{
        display: flex;
        justify-content: center;
        align-items: center;

        }

















    .modal1{

        background-color: rgb(0, 0, 0);
        height: 600px;
        width: 100%;
        
        grid-template-rows: 60% 5%;
        background-image: url('./Img/WhatsApp\ Image\ 2024-01-20\ at\ 12.49.38\ AM.jpeg');
        display: grid;
    
    
    }



    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-links {
        display: none;
        flex-direction: column;
        background-color: #FFB996;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 150px;
        border: 1px solid white;
    }

    



    .mobile-links a {
        color: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    .menu-icon {
        font-size: 1.5em;
        cursor: pointer;
    }

    .card-container{
        
        width: 100%;
        height: 30% ;
        grid-template-rows: auto auto;
        display: grid;
    }
    .contenido-boto{
        background-color: #f8bebe;
        text-align: center;
        width: 100%;
        border-radius: 0px 0px 10px 10px ;
        
    }

    .Container-card-imagen{ 
   
        z-index: 0;
        grid-template-columns: auto ;
        padding-left: 0%;
        display: grid;
      background-color: #FFB996;
    }

    .Container-card-imagen > div {
        
        padding-top: 0,1px;
        padding-bottom: 0%;
    
        height: 100%;
    }

    .imagen-1{
        width: 100%;
        height: 450px;
        border-radius: 10px 10px 0px 0px;
    }
    
    .imagen-1c{
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        z-index: 1;
    
    
    }



    









}

.mobile-links a :hover {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;

    
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para cubrir la página */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que el z-index sea mayor que el de otros elementos */
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light gray */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  .content {
    display: none; /* Oculta el contenido principal mientras se muestra la pantalla de carga */
    padding: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  









    




  